.cell {
  height: 24px;
  width: 24px;
  font-size: 20px;
  text-align: center;
  position: relative;

  border-left: 3px solid $light-color;
  border-top: 3px solid $light-color;
  border-right: 3px solid $dark-color;
  border-bottom: 3px solid $dark-color;

  &--flag {
    width: 18px;
    pointer-events: none;
  }

  &--mine,
  &--mineClicked {
    width: 22px;
    pointer-events: none;
    position: absolute;

    top: 0px;
    left: 0px;
  }

  &--number {
    width: 22px;
    pointer-events: none;
  }

  &--open {
    border: 1px solid #808080;
    height: 24px;
    width: 24px;
  }
}
