.gameSelection {
  text-align: center;
  margin: 8px 8px 0 8px;

  &__button {
    height: 30px;
    width: calc(100% / 3);
    padding: 0;
    cursor: pointer;
    font-weight: 500;

    @include upper;

    &:active {
      @include pressed;
    }

    &--active {
      @include lower;
    }
  }
}
