.scoreboard {
  height: 74px;
  @include lower;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  font-size: 36px;
  text-align: right;
  font-family: "Digital";

  &__flags,
  &__time {
    width: 75px;
    height: 50px;
    @include lower;
    background-color: black !important;
    color: red;
  }

  &__faceButton {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;

    @include upper;

    &:hover {
      cursor: pointer;
    }

    &:active {
      @include pressed;
    }

    &__face {
      height: 100%;
      width: 100%;
    }
  }
}
