.signUp {
  margin: 8px;

  &__username,
  &__password,
  &__confirmPassword {
    height: 30px;
    width: 100%;
    @include lower;
  }

  &__submit {
    width: 100%;
    margin-top: 8px;
    height: 30px;
    font-weight: 500;
    cursor: pointer;
    @include upper;

    &:active {
      @include pressed;
    }
  }
}
