.welcome {
  margin: 8px;

  &__username {
    margin: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include lower;
  }

  &__logOut {
    height: 30px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    @include upper;

    &:active {
      @include pressed;
    }
  }
}
