@font-face {
  font-family: "Digital";
  src: url("../assets/DS-DIGI.TTF");
  font-display: swap;
}
@font-face {
  font-family: "Windows 95";
  src: url("../assets/M\ 8pt.ttf");
  font-display: swap;
}

html {
  font-family: "Roboto", sans-serif;

  font-size: 10px;
}
